{% extends 'auth/layouts/base.html' %}

{% block content %}
<div class="app-bg-green-ultra-dark">
  <div class="container">
    <form action="" class="needs-validation">
      <!-- Username -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username" required>
        <label for="floatingInput">Username</label>
      </div>
      <!-- Password -->
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <button type="submit" class="btn btn-primary mt-3">LOGIN</button>
    </form>
  </div>
  
  <a href="{% url 'auth:register' %}">
    <button type="submit" class="btn btn-primary">REGISTER</button>
  </a>
</div>
{% endblock %}