{% load static %}


<nav class="navbar navbar-expand-lg app-navbar app-text-text" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="{% url 'base:getIndex' %}">
      <img src="{% static 'icons/django-logo-text.svg' %}" alt="" class="app-logo-text">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'foods:getIndex' %}"><h5>Menu</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'foods:getOrders' %}"><h5>Orders History</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:getAbout' %}"><h5>About</h5></a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'foods:getCart' %}" class="nav-link">
            <i id="cart-item-quantity" class="fa-solid fa-cart-shopping cart-badge" value="9999"></i>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item border border-secondary border-2 rounded"">
          <h5 class="nav-link">User: {{ user.username|title }}</h5>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auth:postLogout' %}"><h5>Logout</h5></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auth:getRegister' %}"><h5>Register</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auth:getLogin' %}"><h5>Login</h5></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<script>
  currentPath = $(location).attr("pathname")
  if (currentPath != "{% url 'foods:getCart' %}") {
    $(`a[href="${currentPath}"]`).addClass("app-text-active") 
  }
</script>

<script>
  axios({
    method: 'get',
    url: '{% url "foods:getCartItemQuantity" %}',
  }).then(function (response) {
     $('#cart-item-quantity').attr('value', response.data.quantity)
  });
</script>