{% load static %}

<nav class="navbar navbar-expand-lg app-navbar app-text-text" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="{% url 'base:index' %}">
      <img src="{% static 'icons/django-logo-text.svg' %}" alt="" class="app-logo-text">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'foods:index' %}"><h5>FOOD MENU</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:about' %}"><h5>ABOUT</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'foods:orders' %}"><h5>ORDERS</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'foods:locations' %}"><h5>LOCATIONS</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'foods:rewards' %}"><h5>REWARDS</h5></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auth:register' %}"><h5>REGISTER</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auth:login' %}"><h5>LOGIN</h5></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  currentPath = $(location).attr("pathname")
  $(`a[href="${currentPath}"]`).addClass("app-text-active") 
</script>