{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'base/includes/head.html' %}
	{% block extraHead %}{% endblock extraHead %}
</head>
<body>

	<div class="app-bg-green-ultra-dark">
    <div class="position-absolute top-50 start-50 translate-middle app-text-text text-center vw-100">

      <div class="mb-5">
        <img src="{% static 'icons/django-logo-text.svg' %}" alt="" class="w-50 mb-2" style="max-width: 16rem;" loading="lazy">
        <h1>Food Menu App</h1>
      </div>
  
      <div class="d-flex mb-4 gap-2 justify-content-center app-text-black">
        <a href="{% url 'foods:getIndex' %}" class="app-btn-white"><span class="secondary-content"><b>Get started</b></span></a>
        <a href="https://github.com/tuhuynh20002002" class="app-btn-white" >
          <span class="secondary-content"><b>Find me on</b></span>
          <img src="{% static 'icons/github.svg' %}" alt="" class="app-github-icon ms-2" />
        </a>
      </div>
  
      <div class="d-flex gap-2 justify-content-center">
        <a href="https://www.python.org/">
          <img src="{% static 'icons/skill-icons-python-dark.svg' %}" alt="" class="app-skill-icons" title="Python" loading="lazy">
        </a>
        <a href="https://www.djangoproject.com/">
          <img src="{% static 'icons/skill-icons-django.svg' %}" alt="" class="app-skill-icons" title="Django" loading="lazy">
        </a>
        <a href="https://getbootstrap.com/">
          <img src="{% static 'icons/skill-icons-bootstrap.svg' %}" alt="" class="app-skill-icons" title="Bootstrap 5" loading="lazy">
        </a>
        <a href="https://www.sqlite.org/">
          <img src="{% static 'icons/skill-icons-sqlite.svg' %}" alt="" class="app-skill-icons" title="SQLite" loading="lazy">
        </a>
      </div>
  
    </div>
  </div>

	{% include 'base/includes/scripts.html' %}
	{% block extraScripts %}{% endblock %}

</body>
</html>