{% extends 'foods/layouts/base.html' %}


{% load static %}


{% block content %}
<div id="foods-list">
  <input type="text" class="fuzzy-search"/>
  <button class="sort" data-sort="foods-title">
    Sort by name
  </button>
  <button class="sort" data-sort="foods-price">
    Sort by price
  </button>
  <div class="row row-cols-lg-5 row-cols-1 g-2 list">
    {% for item in items %}
    <div class="card p-0">
      <img class="card-img-top" src="{% static 'icons/not-found-image.svg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title foods-title">{{ item.title|title }}</h5>
        <p class="card-text foods-price">{{ item.price }}</p>
        <a href="#" class="btn btn-primary">Detail</a>
        <a href="#" class="btn btn-primary">Order</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block extraScripts %}
<script src="{% static 'vendor/list.js@2.3.1/list.min.js' %}"></script>

<script>
var foodsList = new List('foods-list', { 
  valueNames: ['foods-title', 'foods-price'],
  searchColumns: ['foods-title']
});
</script>
{% endblock %}
