{% load static %}

<!-- Gereral -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title | default:"Django App" }}</title>
<link rel="icon" href="{% static 'icons/django-negative.svg' %}" sizes="any" type="image/svg+xml">

<!-- Reset -->
<link rel="stylesheet" href="{% static 'css/shared/reset.css' %}">

<!-- Vendors -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap@5.3.3/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/fontawesome@6.6.0/all.min.css' %}">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'css/shared/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/shared/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/foods/app.css' %}">

<!-- Scripts -->
<script src="{% static 'vendor/axios@1.7.3/axios.min.js'' %}"></script>
<script src="{% static 'vendor/jquery@3.7.1/jquery.min.js' %}"></script>