$django-primary: (
    "text": #c1cad2,
    "green-dark": #0c4b33,
    "green": #20aa76,
    "green-light": #93d7b7,
    "black": #0e1117,
    "white": #f1fff7,
    "red-dark": #6a0e0e,
);

$django-secondary: (
    "green-medium-dark": #2b8c67,
    "green-medium": #44b78b,
    "green-medium-light": #44b78b,
    "text-light": #afb7b3,
    "gray-line": #cfe3dc,
    "red": #ba2121,
);

$django-extended: (
    "green-ultra-dark": #082d1f,
);


.app-bg-green-ultra-dark {
    background-color: map-get($django-extended, "green-ultra-dark");
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.app-text-text {
    color: map-get($django-primary, "text");
}